/* login page */
.custom-login{
    height: 500px;
    padding-top: 100px;
}

/* product page */
.trending-item{
    display: inline-block;
}
.trending-item img{
    height: 100px;
    width: 200px;
    margin: 20px;
}
/* details page */
.custom-details{
    padding-top: 100px;
    height: 500px;
}

/* search page */
.custom-search{
}
.search-wrapper{}
.search-wrapper a{
    text-decoration: none;
}

.search-wrapper img{
    height: 100px;
    width: 200px;
}

/* cartlist page */
.cartlist-col-section{
    border-bottom: 1px solid #aaa;
    padding-bottom: 12px;
}

/* orderlist page */
.orderlist-col-section{
    border-bottom: 1px solid #aaa;
    padding-bottom: 12px;
}

